<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="css/style.css") }}">
    <link rel="stylesheet" type="text/css" href=" {{ url_for("static", filename="fancybox/jquery.fancybox.min.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
    <title>{{ title }}</title>
</head>
    <body id="body" style="background-color: #edeef0">
        <script type="text/javascript">
            VK.init({apiId: 7459561});
        </script>
        <nav class="navbar sticky-top navbar-expand-md navbar-light mb-4" style="background-color: #000">
            <div class="big_nav_logo">
                <a class="navbar-brand" href="/"><img src="{{ url_for("static", filename="img/big_logo.png") }}" alt=""></a>
            </div>
            <div class="small_nav_logo">
                <a class="navbar-brand" href="/"><img src="{{ url_for("static", filename="img/small_logo.png") }}" alt=""></a>
            </div>
            {% if current_user.is_authenticated %}
                <div class="nav_dropmenu ml-auto mr-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; padding: 0px">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href=/user/{{ current_user.id }}>Профиль</a>
                            <a class="dropdown-item" href=/>Главная</a>
                            <a class="dropdown-item" href="/list_message">Сообщения</a>
                            <a class="dropdown-item" href=/friends/{{ current_user.id }}>Друзья</a>
                            <a class="dropdown-item" href="/invite_friends">Заявки</a>
                            <a class="dropdown-item" href="/search">Поиск</a>
                        </div>
                    </div>
                </div>
                {% if current_user2.avatar %}
                    <div class="dropmenu_false ml-auto mr-1">
                        <div class="min_photo">
                            <img src="{{ url_for("static", filename=current_user2.avatar.photo.img_name) }}" alt="" style="max-height: 60px; max-width: 60px; margin: auto;">
                        </div>
                    </div>
                    <div class="dropmenu_true">
                        <div class="min_photo">
                            <img src="{{ url_for("static", filename=current_user2.avatar.photo.img_name) }}" alt="" style="max-height: 60px; max-width: 60px; margin: auto;">
                        </div>
                    </div>
                {% else %}
                    <div class="dropmenu_false ml-auto mr-1">
                        <img src="{{ url_for("static", filename="img/ava_profile_mini.png") }}" alt="" class="ava_round" style="float: left;">
                    </div>
                    <div class="dropmenu_true">
                        <img src="{{ url_for("static", filename="img/ava_profile_mini.png") }}" alt="" class="ava_round" style="float: left;">
                    </div>
                {% endif %}
                <a href="/user/{{current_user.id}}" style="float: left; padding-left: 10px; margin-top: 10px"><p style="color: #fff">{{ current_user.name }}</p></a>
                <a href="/logout" style="float: left; padding-left: 10px;"><button type="button" class="btn btn-dark">Выйти</button></a>
            {% else %}
                <div class="big_nav_btn ml-auto mr-1">
                    <a href="/login"><button type="button" class="btn btn-dark">Войти</button></a>
                    <a href="/register"><button type="button" class="btn btn-dark">Зарегистрироваться</button></a>
                </div>
                <div class="small_nav_btn ml-auto mr-1">
                    <a href="/login"><button type="button" class="btn btn-dark btn-sm">Войти</button></a>
                    <a href="/register"><button type="button" class="btn btn-dark btn-sm">Зарегистрироваться</button></a>
                </div>
            {% endif %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{{ url_for("static", filename="fancybox/jquery.fancybox.min.js") }}"></script>
    </body>
</html>