{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="left_nav600">
            <div style="padding-bottom: 10px">
                <a href=/user/{{ current_user.id }}><font size="4">Профиль</font></a>
            </div>
            <div style="padding-bottom: 10px">
                <a href=/><font size="4">Главная</font></a>
            </div>
            <div style="padding-bottom: 10px">
                <a href="/list_message"><font size="4">Сообщения</font></a>
            </div>
            <div style="padding-bottom: 10px">
                <a href=/friends/{{ current_user.id }}><font size="4">
                Друзья</font></a>
            </div>
            <div style="padding-bottom: 10px">
                <a href="/invite_friends"><font size="4">Заявки</font></a>
            </div>
            <div style="padding-bottom: 10px">
                <a href="/search"><font size="4">Поиск</font></a>
            </div>
        </div>
        <div class="index_photo">
            {% for item in photos %}
                <div class="block_photo">
                    <a href=/user/{{ item.user_id }} style="color: black"><h5 style="margin-left: 40px; margin-bottom: 5px; padding-top: 5px">{{ item.user.name }} {{ item.user.surname }}</h5></a>
                    <a data-fancybox="gallery" data-src="#{{ loop.index }}" href="javascript:;">
                        <div>
                            <img src="{{ url_for("static", filename=item.img_name) }}" alt="" style="display: block; margin-left: auto; margin-right: auto; margin-top: 5px;" class="main_block_photo">
                        </div>
                    </a>
                    <form name="form1" style="margin-left: 40px">
                        {% if item.id not in photo_like %}
                            <h1><input type="button" id=btn{{ item.id }} value="{{ likes[item.id] }}", class="btn btn-outline-secondary btn-lg" onclick="javascript:like('{{ item.id }}', '{{ item.id }}');"></h1>
                        {% else %}
                            <h1><input type="button" id=btn{{ item.id }} value="{{ likes[item.id] }}", class="btn btn-outline-danger btn-lg" onclick="javascript:like('{{ item.id }}', '{{ item.id }}');"></h1>
                        {% endif %}
                    </form>
                    <div id=list_comment{{ item.id }}>
                        {% for i in range(3) %}
                            <div>
                                {% if list_comment[item.id]|length > i %}
                                    <div style="margin-left: 40px;" id=comment{{ item.id }}{{ loop.index }}>
                                        <a href=user/{{ list_comment[item.id][i].user_id }}><p style="margin-bottom: 0px; margin-top: 0px">{{ list_comment[item.id][i].user.name }} {{ list_comment[item.id][i].user.surname }}</p></a>
                                        <p style="margin-top: 0px; margin-bottom: 0px">{{ list_comment[item.id][i].text }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="{{ loop.index }}" style="display:none;">
                        <div class="big_version">
                            <img src="{{ url_for("static", filename=item.img_name) }}" alt="" class="main_block_photo">
                        </div>
                        <div class="comment_like">
                            <form name="form1">
                                {% if item.id not in photo_like %}
                                    <h1><input type="button" id=btn2{{ item.id }} value="{{ likes[item.id] }}", class="btn btn-outline-secondary btn-lg" onclick="javascript:like('{{ item.id }}', '{{ item.id }}');"></h1>
                                {% else %}
                                    <h1><input type="button" id=btn2{{ item.id }} value="{{ likes[item.id] }}", class="btn btn-outline-danger btn-lg" onclick="javascript:like('{{ item.id }}', '{{ item.id }}');"></h1>
                                {% endif %}
                            </form>
                            <div class="comment_form">
                                <textarea maxlength="500" id=text{{ item.id }} rows="3" class="comment_area"></textarea>
                                <input type="submit" onclick="javascript:comment('{{ item.id }}', 'text{{ item.id }}');" class="btn btn-dark" style="margin-bottom: 110px" value="Отправить">
                            </div>
                            <div id=list{{ item.id }}>
                                {% for item_comment in list_comment[item.id] %}
                                    <div id=comment{{ item.id }}{{ item_comment.id }}>
                                        {% if item_comment.user.avatar %}
                                            <div class="min_photo" style="float: left;">
                                                <img src="{{ url_for("static", filename=item_comment.user.avatar.photo.img_name) }}" alt="" style="max-height: 60px; max-width: 60px; margin: auto;">
                                            </div>
                                        {% else %}
                                            <div class="min_photo" style="float: left;">
                                                <img src="{{ url_for("static", filename="img/ava_profile_mini.png") }}" alt="" style="max-height: 60px; max-width: 60px; margin: auto;">
                                            </div>
                                        {% endif %}
                                        <div class="comment" style="margin-left: 60px">
                                            {% if item_comment.user_id == current_user.id %}
                                                <a href="javascript:delete_comment('{{ item.id }}', '{{ item_comment.id }}');" class="button_delete" style="color: #e15462;">удалить</a>
                                            {% endif %}
                                            <a href=user/{{ item_comment.user_id }}><p style="margin-bottom: 0px;">{{ item_comment.user.name }} {{ item_comment.user.surname }}</p></a>
                                            <div class="comment_text">
                                                <p style="margin-top: 0px">{{ item_comment.text }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% block scripts %}
            <script>
                function like(sourceElem, destElem) {
                    $.post('/like', {
                        id: sourceElem,
                    }).done(function(response) {
                        document.getElementById('btn' + destElem).value = '♥ ' + response['value'];
                        document.getElementById('btn2' + destElem).value = '♥ ' + response['value'];
                        document.getElementById('btn' + destElem).className = response['class'];
                        document.getElementById('btn2' + destElem).className = response['class'];
                    })
                }
            </script>
            <script>
                function comment(sourceElem, destElem) {
                    $.post('/comment', {
                        id: sourceElem,
                        text: document.getElementById(destElem).value
                    }).done(function(response) {
                        let comment_div = document.createElement('div');
                        comment_div.id = 'comment' + sourceElem + response['id_comment'];
                        let a = document.createElement('a');
                        let p_a = document.createElement('p');
                        let button_delete = document.createElement('a');
                        button_delete.innerHTML = 'удалить'
                        button_delete.href = "javascript:delete_comment('" + sourceElem + "', '" + response['id_comment'] + "');";
                        button_delete.className = "button_delete";
                        button_delete.style = "color: #e15462;";
                        p_a.innerHTML = response['name'] + ' ' + response['surname'];
                        p_a.style.marginBottom = '0px';
                        a.append(p_a);
                        a.href = 'user/' + response['id'];
                        let p = document.createElement('p');
                        p.style.marginTop = '0px';
                        p.innerHTML = document.getElementById(destElem).value;
                        let div = document.createElement('div');
                        div.className = 'comment';
                        div.style = 'margin-left: 60px';
                        let div_photo = document.createElement('div');
                        div_photo.className = 'min_photo';
                        div_photo.style = 'float: left';
                        let div_text = document.createElement('div');
                        div_text.className = 'comment_text';
                        div_text.append(p)
                        let img = document.createElement('img');
                        {% if current_user2.avatar %}
                            img.src = "{{ url_for("static", filename=current_user2.avatar.photo.img_name) }}";
                        {% else %}
                            img.src = '{{ url_for("static", filename="img/ava_profile_mini.png") }}';
                        {% endif %}
                        img.style = 'max-height: 60px; max-width: 60px; margin: auto';
                        div.prepend(div_text);
                        div.prepend(a);
                        div.prepend(button_delete);
                        div_photo.prepend(img);
                        comment_div.prepend(div);
                        comment_div.prepend(div_photo);
                        $('#list' + sourceElem).prepend(comment_div);
                        document.getElementById(destElem).value = '';
                        first_comments(sourceElem);
                    })
                }
            </script>
            <script>
                function first_comments(id_photo) {
                    $.get('/first_comments', {
                        id: id_photo
                    }).done(function(response) {
                        document.getElementById('list_comment' + id_photo).innerHTML = '';
                        for (var i = 0; i < response['comments'].length; i++) {
                            let a = document.createElement('a');
                            let p_a = document.createElement('p');
                            let div = document.createElement('div');
                            div.style.marginLeft = '40px';
                            div.id = 'comment' + id_photo + (i + 1);
                            p_a.innerHTML = response['comments'][i][0] + ' ' + response['comments'][i][1];
                            p_a.style.marginBottom = '0px';
                            p_a.style.marginTop = '0px';
                            a.append(p_a);
                            a.href = 'user/' + response['comments'][i][3];
                            let p = document.createElement('p');
                            p.style.marginTop = '0px';
                            p.style.marginBottom = '0px';
                            p.innerHTML = response['comments'][i][2];
                            div.append(a);
                            div.append(p);
                            $('#list_comment' + id_photo).append(div);
                        }
                    })
                }
            </script>
            <script>
                function delete_comment(id_photo, id_comment) {
                    $.post('/delete_comment', {
                        id: id_comment
                    }).done(function(response) {
                        document.getElementById('comment' + id_photo + id_comment).remove();
                        first_comments(id_photo);
                    })
                }
            </script>
        {% endblock %}
    {% else %}
        <div class="index2">
            <div class="main_photo">
                <img src="{{ url_for("static", filename="img/web.png") }}" alt="" class="leftimg">
            </div>
            <div class="index">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    {% if message %}
                        <p class="alert alert-danger" role="alert">
                            {{message}}
                        </p>
                    {% endif %}
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(class="form-control", type="email", placeholder='Почта') }}<br>
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(class="form-control", type="password", placeholder='Пароль') }}<br>
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit(type="submit", class="btn btn-dark", style='float: left') }}</p>
                </form>
                <div style="float: right" id="vk_auth"></div>
            </div>
        </div>
    {% endif %}
    <script type="text/javascript">
        VK.Widgets.Auth("vk_auth", {"width":200,"authUrl":"/vk_login"});
    </script>
{% endblock %}